<div class="container-fluid mt-5 mb-3">
    <div class="row">

        <div class="row">
            <a href="#" class="m-0 p-0">
                @if(lang==='en'){
                <img src="../../../../../assets/item5/2048x220-laptop-english.jpg" alt=""
                    class="img-fluid">
                }@else{
                <img src="../../../../../assets/item5/2048x220-laptop.jpg" alt=""
                    class="img-fluid">
                }
            </a>
        </div>

        <div class="row mt-1">
            <div class="col-3 m-0 p-0">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item5/bags_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="../../../../../assets/item5/bags.jpg" alt="" class="img-fluid">
                    }
                </a>
            </div>

            <div class="col-6 m-0 p-0">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item5/Printer-ar_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="../../../../../assets/item5/Printer-ar.jpg" alt="" class="img-fluid">
                    }
                </a>
            </div>

            <div class="col-3 m-0 p-0">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item5/storage_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="../../../../../assets/item5/storage.jpg" alt="" class="img-fluid">
                    }
                </a>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-4.5 m-0 p-0">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item5/Monitor-ar_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="../../../../../assets/item5/Monitor-ar.jpg" alt="" class="img-fluid">
                    }
                </a>
            </div>

            <div class="col-3 m-0 p-0">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item5/350x240-computer-acc_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="../../../../../assets/item5/350x240-computer-acc.jpg" alt=""
                        class="img-fluid">
                    }
                </a>
            </div>

            <div class="col-4.5 m-0 p-0">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item5/Ar-Network_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="../../../../../assets/item5/Ar-Network.jpg" alt="" class="img-fluid">
                    }
                </a>
            </div>
        </div>

    </div>
</div>