<div class="container-fluid p-0 mt-5">
    <div class="row">

        <div class="col m-0 p-0 mx-1">
            <div class="row">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item6/680x500-gamepad-arabic_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-gamepad-arabic.jpg" alt=""
                        class="img-fluid">
                    }
                </a>
            </div>

            <div class="row mt-1">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item6/680x500-gaming-acc-arabic_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-gaming-acc-arabic.jpg" alt=""
                        class="img-fluid">
                    }
                </a>
            </div>
        </div>


        <div class="col m-0 p-0">
            <a href="#">
                @if(lang==='en'){
                <img src="../../../../../assets/item6/680x1000-playstation-arabic_en.png" alt="" class="img-fluid">
                }@else{
                <img src="https://r2media.horizondm.com/Backend-developer/680x1000-playstation-arabic.jpg" alt=""
                    class="img-fluid">
                }
            </a>
        </div>


        <div class="col m-0 p-0 ms-1">
            <div class="row">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item6/680x500-cd-gaming_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-cd-gaming.jpg" alt=""
                        class="img-fluid">
                    }
                </a>
            </div>

            <div class="row mt-1">
                <a href="#">
                    @if(lang==='en'){
                    <img src="../../../../../assets/item6/680x500-scooter-arabic_en.png" alt="" class="img-fluid">
                    }@else{
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-scooter-arabic.jpg" alt=""
                        class="img-fluid">
                    }
                </a>
            </div>
        </div>


    </div>
</div>