<app-nav-bar></app-nav-bar> 
<div class="wrapper">
  @if(Orders.length==0&&OrdersDetails.length==0)
   {
    <div class="container" style="align-items: center;">
       <h1>you don't have any open orders at the moment </h1> 
       <img src="../../../../assets/download (1).jfif" style="align-items: center; width: 50%; height: 40%; " alt="">
    </div>
    
  }
@if(Orders.length > 0&&OrdersDetails.length<1)
{

  <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex flex-column">
          <div class="h3">My Orders list</div>
      </div>
      <div class="btn" style="margin: 20px;" (click)="cancel()" id="sub">
        <i class="fa fa-chevron-left"></i> Back
      </div>
  </div>
  <div id="table" class="bg-white rounded">
       <hr>
      <div class="table-responsive">
          <table class="table activitites">
              <thead>
                  <tr>
                      <th scope="col" class="text-uppercase header">Order number</th>
                      <th scope="col" class="text-uppercase">Cost</th>
                      <th scope="col" class="text-uppercase">Destination  Address</th>
                      <th scope="col" class="text-uppercase">Date</th>
                      <th scope="col" class="text-uppercase">State</th>
                  </tr>
              </thead>
              <tbody>
                @for(Order of Orders; track Order.id ;)
                {
                  <tr>
                    <td>{{ Order.id }}</td>
                    <td>{{Order.finalPrice}} $</td>
                    @if(Order.address===" ")
                    {<td>Not Speicified</td>}@else{<td>{{Order.address}} </td>}
                    <td>{{Order.date}}</td>
                    @if(Order.state==1){<td>Pending</td>}@else if(Order.state==2){<td>Confirmed</td>}@else if(Order.state==3){<td>Canceled</td>}@else if(Order.state==4){<td>Paid</td>}@else{<td>Delivered</td>}
                    <td>
                      @if(Order.state==1){
                        <i (click)="payOrder(Order)"  class="mdi mdi-credit-card"style="padding-right: 5px;" >    </i>
                        <i (click)="editOrder(Order.id)" class="mdi mdi-pencil" style="padding-right: 5px;">    </i>}
                       <i (click)="deleteOrder(Order.id)" class="mdi mdi-trash-can-outline"></i>                     
                    </td>
                </tr>
               
             
                }
              </tbody>
          </table>
      </div>
      <hr class="items">
   </div>

  }

   @if(OrdersDetails.length>0)
      {
        <div class="d-flex align-items-center justify-content-between">
          <div  class="d-flex flex-column">
              <div class="h3">Orders Items List</div>
          </div>
         <div style="margin: 20px; " (click)="back()" class="btn" id="sub">
          <i class="fa fa-chevron-left"></i> Back
        </div>
        </div>
        <div id="table" class="bg-white rounded">
          <hr>
         <div class="table-responsive">
             <table class="table activitites">
                 <thead>
                     <tr>
                         <th scope="col" class="text-uppercase">TotalPrice</th>
                         <th scope="col" class="text-uppercase">Product Name</th>
                        <th scope="col" class="text-uppercase">Quantity</th>
                     </tr>
                 </thead>
                 <tbody>
              @for(Order of OrdersDetails; track Order.id;)
                {
              <tr>
                  <td>{{Order.totalPrice}} $</td>
                  <td>{{Order.productName}}</td>
                  <td>{{Order.quantity}} </td>
                  <td>
                     <i (click)="IncreamentQuantity(Order)" class="fa fa-plus" style="padding-right: 5px;"></i>
                     <i (click)="DecreamentQuantity(Order)" class="fa fa-minus" style="padding-right: 5px;"></i> 
                     <i (click)="deleteOrderDetails(Order.id,Order.orderId)" class="mdi mdi-trash-can-outline"></i> 
                  </td>
              </tr>
              }
                 </tbody>
              </table>
        </div>
        </div>
      }

</div>   
  
 