<div id="navbarHeader" class="main-container" [ngClass]="{
  'arabic-font': lang === 'ar'
}">
  <div>
    <div class="language-icon">
      <a (click)="onChange()">
        <img src="../../../assets/download.png" alt="language">
        <span>{{ lang === 'en' ? 'العربية' : 'English' }}</span>
      </a>
    </div>
    <div class="navbar">
      <a routerLink="/home" class="navbar-logo">
        <img src="../../../assets/dream-high-resolution-logo-transparent.png" width="10px" alt="logo">
      </a>
      <div class="navbar-center">
        <input type="text" #searchInput (input)="Search(searchInput.value)" placeholder="{{ 'nav.search' | translate }}...">
        
      </div>
      
          <!-- Menu button -->
<button class="menu-button" (click)="toggleMenu()">
  <i class="mdi mdi-menu"></i>
</button>

<!-- Drop-down container for the nav icons -->
<div class="dropdown-menu" [class.open]="menuVisible">
  <a href="/contactus" style="margin-right: -43px;">
    <i class="mdi mdi-map-marker-outline"></i><span>{{ 'nav.storelocation' | translate }}</span>
  </a>

  <a (click)="logout()" style="margin-right: 6px" *ngIf="isLoggedIn()">
    <i class="mdi mdi-account-outline"></i><span>{{ 'nav.logout' | translate }}</span>
  </a>
  @if(isLoggedIn())
            {
              <br>
 <a (click)="profile()" style="margin-right: 6px" *ngIf="isLoggedIn()">
    <i class="mdi mdi-account-outline"></i><span>{{ 'nav.profile' | translate }}</span>
  </a>
            }
  <a routerLink="/login" style="margin-right: 6px" *ngIf="!isLoggedIn()">
    <i class="mdi mdi-account-outline"></i><span>{{ 'nav.signin' | translate }}</span>
  </a>

  <a  routerLink="/cart">
    <i  class="mdi mdi-cart-outline" [ngClass]="{ 'icos-arabic': lang === 'ar', 'icos': lang === 'en' }"></i>
    <span   [ngClass]="{ 'count-arabic': lang === 'ar', 'count': lang === 'en' }" *ngIf="Items2.length > 0">
      {{ Items2.length }}
    </span>
  </a>
  <div class="internalCategories">
    @for(c of CategoryList; track $index ){
      <div >
        <button class="subnavbtn" [routerLink]="['/Product']" (click)="onCategoryClick(c.id)" routerLinkActive="router-link-active">
          {{ lang === 'en' ? c.enName : c.arName }}
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content shadow" [style.margin-left.px]="[lang ==='en' ? 0 : 250]">
          <div>
          <img [src]="'../../../assets/CategoryAndProductImg/' + (lang === 'en' ? c.imgURL : c.imgURLAr)" width="100%"
              alt="">
          </div>
          <ng-container class="w-25 ">
            @for(s of c.subCategories; track $index){
            <div class="column w-25 h-25">
              <div class="row">
               <a (click)="onSubCategoryClick(s.id)" [routerLink]="['/productOfCAt']" routerLinkActive="router-link-active">  
                  <span>{{ lang === 'en' ? s.enName : s.arName }}</span>
                </a>
              </div>
            </div>
            }

          </ng-container>
        </div>
      </div>
      }
  </div>

</div>

      <div class="navIcons" [ngClass]="{
        'navbar-icons-arabic': lang === 'ar',
        'navbar-icons': lang === 'en',
      }">
        <a href="/contactus" style="margin-right: -43px;"><i class="mdi mdi-map-marker-outline"></i><span>{{ 'nav.storelocation' |
            translate }}</span></a>
            @if(isLoggedIn())
            {
              <a (click)="profile()" style="margin-right: 6px">
                <i class="mdi mdi-account-outline"></i>
                <span>{{ 'nav.profile' | translate }}</span>
              </a>
              <!-- <a (click)="logout()" style="margin-right: 6px">
                <i class="mdi mdi-account-outline"></i>
                <span>{{ 'nav.logout' | translate }}</span>
              </a> -->
            }@else{
        <a routerLink="/login" style="margin-right: 6px">
          <i class="mdi mdi-account-outline"></i>
          <span>{{ 'nav.signin' | translate }}</span>
        </a>
      }
        <a routerLink="/cart">
          <i class="mdi mdi-cart-outline" [ngClass]="{
            'icos-arabic': lang === 'ar',
            'icos': lang === 'en'
          }"></i>
          
          @if(Items2.length > 0){
          <span [ngClass]="{
            'count-arabic': lang === 'ar',
            'count': lang === 'en'
          }">
          {{Items2.length}}
        </span>}
        </a>
      </div>
      
    </div>
    
    <div class="navbar-bottom">
      @for(c of CategoryList; track $index ){
      <div class="subnav">
        <button class="subnavbtn" [routerLink]="['/Product']" (click)="onCategoryClick(c.id)" routerLinkActive="router-link-active">
          {{ lang === 'en' ? c.enName : c.arName }}
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content shadow" [style.margin-left.px]="[lang ==='en' ? 0 : 250]">
          <div>
            @if(lang === 'en')
            {<img src="https://ecommercedashboard.somee.com/images/{{c.imgURL}}" width="100%" alt="">}
            @else
            {<img src="https://ecommercedashboard.somee.com/images/{{c.imgURLAr}}" width="100%" alt="" >}
           <!-- <img [src]="( ? c.imgURL : c.imgURLAr)" width="100%" alt=""> -->
          <!-- https://ecommercedashboard.somee.com/images/ -->
          </div>
          <ng-container class="w-25 ">
            @for(s of c.subCategories; track $index){
            <div class="column w-25 h-25">
              <div class="row">
               <a (click)="onSubCategoryClick(s.id)" [routerLink]="['/productOfCAt']" routerLinkActive="router-link-active">  
                  <span>{{ lang === 'en' ? s.enName : s.arName }}</span>
                </a>
              </div>
            </div>
            }
          </ng-container>
        </div>
      </div>
      }
      <div class="contacts">
        <a href=""><i style="color: aliceblue;" class="mdi mdi-phone-outline"></i> <span> 16942</span></a>
      </div>
    </div>
  </div>
</div>
@if(Products.length>0){
<div class="container-fluid">
  <div class="row" style="padding: 10px; margin: 5px ;" >
      <div class="col-12">
          <ol class="filterproducts products list items product-items">
              @for(product of Products; track product.id){  
                <li  class="item product product-item">
                  <div class="product-item-info type1">
                      <div class="product photo product-item-photo">
                          <a>
                              <img (click)="Addtofavourite(product)" class="product-image-photo default_image rounded porto-lazyload porto-lazyload-loaded"
                                  width="300" height="300" alt=""
                                  src="https://ecommercedashboard.somee.com{{product.imgURL}}" style="display: block;">
                          </a>
                          @if(product.priceBeforeDiscount>0)
                          {
                          <div class="product-labels">
                              <div class="product-label sale-label">-{{product.priceBeforeDiscount}}%</div>   
                          </div>
                          }
                      </div>
                      <div class="product details product-item-details">
                          <strong class="product name product-item-name">
                              <a class="product-item-link" href="#">
                                  {{product.enDescription}} </a>
                          </strong>
      
                          <div class="price-box price-final_price" data-product-id="11884">
                             
                              <span class="old-price">
                                  <span class="price-container price-final_price tax weee">
                                      <span class="price-label">was</span>
                                      @if(product.priceBeforeDiscount>0)
                                      { <span id="old-price-11884" data-price-amount="27900" data-price-type="oldPrice"
                                          class="price-wrapper "><span class="price">{{product.price}} &nbsp;EGP</span></span>}
                                  </span>
                              </span>
                              <span class="special-price">
                                  <span class="price-container price-final_price tax weee">
                                      <span class="price-label">Special Price</span>
                                      <span id="product-price-11884" data-price-amount="24400" data-price-type="finalPrice"
                                          class="price-wrapper "><span class="price">{{product.price * (100-product.priceBeforeDiscount)/100 }} &nbsp;EGP</span></span>
                                  </span>
                              </span>
      
                          </div>
                          <div class="product-item-inner">
                              <div class="product actions product-item-actions">
                                  <div class="actions-primary"><button type="button"
                                              title="Add to Cart" class="action tocart primary" (click)="addToCart(product)">
                                              <span>Add to Cart</span>
                                          </button>
                                          <br>
                                          @if(product.quantity>0){<span style="color: green;">Instock  {{product.quantity}}</span>}@else{<span style="color: red;">Instock</span>}
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
          
              }
             
          </ol>


         
      </div>
  </div>
</div>}
<router-outlet></router-outlet>