*{
    box-sizing: border-box;
}
.container-fluid {
    max-width: 84%;
    max-height: 84%;
}

#carouselExample {
    height: 100%;
}

/* trying to fix flickering*/
.carousel-inner {
    height: 100%;
}
.carousel{
    height:100%;
}
.carousel-item{
    height:100%;
}

/* flickering because of stretching active images*/
.active {
    height: 100%;
}

.active img {
    height: 100%;
}